{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <h4>Please enter your email to get reset link</h4>
        </div>
        <form action="{% url 'request-password' %}" method="post">
          {% csrf_token %}

          {% include 'partials/_message.html' %}
            <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="form-control form-control-sm"
              id="emailField"
              value="{{values.email}}"
            />
          </div>


          <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn mt-4" />
        </form>
  <div class="container">
    <div id="ask">
        <a href="{% url 'login' %}">Login</a>
      </div>
      <div id="ask">
        <a href="{% url 'registre' %}">Register</a>
      </div>

    </div>
      </div>



      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/registre.js' %}"></script>

{% endblock content %}